@inject IOptionsSnapshot<BlogSettings> settings
@inject IOptions<GoogleSettings> google
@inject WebManifest manifest
@{
    var host = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og:http://ogp.me/ns#">
	@if (google.Value.Enabled) {
	<script async src="https://www.googletagmanager.com/gtag/js?id=@google.Value.Tag"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '@google.Value.Tag');
	</script>
	}
	<meta charset="utf-8" />
	<title>@ViewData[Constants.Title]</title>
	<meta name="description" content="@ViewData[Constants.Description]" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="preload" href="~/js/site.js" as="script" />
	<link rel="preload" href="~/css/belowthefold.scss" as="style" />
	<noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
	@RenderSection(Constants.Preload, required: false)
	<link rel="stylesheet" href="~/css/abovethefold.scss" inline />

	<meta property="og:type" content="article" />
	<meta property="og:title" content="@ViewData[Constants.Title]" />
	<meta property="og:description" content="@ViewData[Constants.Description]" />
	<meta property="og:url" content="@(host + Url.Content("~" + Context.Request.Path))" />
	<meta property="og:image" content="@(host + Url.Content("~/img/icon512x512.png"))" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />

	<meta name="msapplication-square150x150logo" content="@Url.Content("~/img/icon180x180.png")" />

	<link rel="icon" type="image/png" sizes="16x16" href="/img/dcdicon.png" />
	<link rel="apple-touch-icon" href="~/img/icon180x180.png" />
	<link rel="shortcut icon" href="~/img/icon16x16.png" />

	<link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
	<link rel="alternate" type="application/rss+xml" href="~/feed/rss/" title="@ViewData[Constants.Title]" />
	<link rel="alternate" type="application/atom+xml" href="~/feed/atom/" title="@ViewData[Constants.Title]" />
	@RenderSection(Constants.Head, required: false)

	<meta name="application-name" content="@ViewData[Constants.Title]" />
	<meta name="msapplication-TileColor" content="#ffffff" />
</head>
<body itemscope itemtype="http://schema.org/WebPage">

	<header class="siteheader">
		<a href="/"><div></div></a>
		<div>
			@if (User.Identity.IsAuthenticated)
			{
				<a style="width:26px; height:26px;margin-right:10px;" href="@Url.Action("Edit", "Blog")" rel="nofollow" title="@Miniblog.Core.Properties.Resources.NewPost">
					<svg width="100%" height="100%" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
						<g>
							<path fill="#EEEEEE" d="M25.916,24.606l-1.937,-8.916c0,-0.224 -0.111,-0.389 -0.276,-0.554l-13.901,-13.901c-1.064,-1.218 -3.953,-2.027 -5.98,0l-2.548,2.549c-1.649,1.649 -1.649,4.33 -0,5.979l13.901,13.901c0.112,0.112 0.277,0.224 0.5,0.277l8.969,2.048c0.538,0.08 1.549,-0.261 1.272,-1.383Zm-23.094,-16.391c-0.83,-0.83 -0.83,-2.107 0,-2.937l2.548,-2.548c0.809,-0.808 2.128,-0.808 2.937,0l12.683,12.683l-1.442,-0c-0.607,-0 -1.107,0.5 -1.107,1.106l0,1.825l-1.824,0c-0.607,0 -1.107,0.5 -1.107,1.107l0,1.388l-12.688,-12.624Zm14.896,13.901l-0,-1.553l1.825,-0c0.957,0.09 1.106,-0.878 1.106,-1.107l0,-1.83l1.554,0l1.276,5.815l-5.761,-1.325Z" style="fill-rule:nonzero;"/>
						</g>
					</svg>
				</a>
				<a style="width:26px; height:26px;" href="~/logout" rel="nofollow" title="@Miniblog.Core.Properties.Resources.SignOutAsAdministrator">
					<svg width="100%" height="100%" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
						<g>
							<path fill="#EEEEEE" d="M16.26,22.184l-12.83,-0l-0,-18.263l12.83,-0c0.285,-0 0.515,-0.231 0.515,-0.515l0,-1.898c0,-0.284 -0.23,-0.515 -0.515,-0.515l-15.243,0c-0.284,0 -0.515,0.231 -0.515,0.515l0,23.088c0,0.284 0.231,0.515 0.515,0.515l15.243,0c0.284,0 0.515,-0.231 0.515,-0.515l-0,-1.897c-0,-0.285 -0.23,-0.515 -0.515,-0.515Z"/>
							<path fill="#EEEEEE" d="M25.324,12.688l-6.935,-6.935c-0.193,-0.193 -0.536,-0.193 -0.729,0l-1.645,1.646c-0.201,0.201 -0.201,0.527 -0,0.728l3.132,3.133l-13.56,0c-0.285,0 -0.516,0.231 -0.516,0.516l0,2.553c0,0.284 0.231,0.515 0.516,0.515l13.561,0l-3.132,3.133c-0.202,0.201 -0.202,0.528 -0,0.729l1.645,1.646c0.097,0.096 0.228,0.151 0.364,0.151c0.137,-0 0.268,-0.055 0.365,-0.151l6.935,-6.935c0.097,-0.097 0.151,-0.228 0.151,-0.364c-0,-0.138 -0.055,-0.268 -0.152,-0.365Z"/>
						</g>
					</svg>
				</a>
			}
			else
			{
				<a style="width:26px; height:26px;" href="~/login/?returnUrl=@Url.Content("~" + Context.Request.Path)" rel="nofollow" title="@Miniblog.Core.Properties.Resources.SignInAsAdministrator">
					<svg viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
						<g>
							<path fill="#EEEEEE" d="M13.007,0c5.253,0.01 10.009,3.193 12.021,8.045l0.015,0.038c0.639,1.563 0.968,3.235 0.968,4.924c-0,7.134 -5.871,13.005 -13.005,13.005c-3.447,-0 -6.757,-1.371 -9.195,-3.808c-1.209,-1.209 -2.169,-2.643 -2.824,-4.222l-0.015,-0.04c-1.99,-4.842 -0.866,-10.434 2.839,-14.131c1.208,-1.21 2.643,-2.169 4.221,-2.824l0.039,-0.015c1.566,-0.643 3.243,-0.973 4.936,-0.972Zm-2.519,16.792c-0.453,-0.387 -0.889,-0.823 -0.961,-1.619l-0.059,-0c-0.139,0 -0.275,-0.036 -0.396,-0.104c-0.198,-0.124 -0.35,-0.309 -0.434,-0.527c-0.201,-0.462 -0.36,-1.675 0.144,-2.022l-0.102,-0.061l0,-0.136c-0.021,-0.243 -0.025,-0.54 -0.029,-0.846c-0.019,-1.142 -0.043,-2.522 -0.959,-2.799l-0.392,-0.119l0.258,-0.319c0.677,-0.859 1.447,-1.64 2.295,-2.329c0.883,-0.695 1.78,-1.158 2.659,-1.292c0.924,-0.15 1.87,0.113 2.583,0.72c0.253,0.208 0.485,0.44 0.692,0.695c0.83,0.092 1.583,0.532 2.071,1.211c0.304,0.408 0.532,0.869 0.673,1.359c0.145,0.5 0.206,1.021 0.182,1.541c-0.029,0.939 -0.414,1.833 -1.076,2.5c0.117,0.002 0.231,0.031 0.335,0.085c0.383,0.212 0.396,0.65 0.294,1.022c-0.099,0.312 -0.224,0.671 -0.345,0.974c-0.137,0.411 -0.349,0.487 -0.773,0.443c-0.017,0.885 -0.592,1.308 -1.158,1.797l0.017,0.025c0.219,0.341 0.468,0.661 0.743,0.957c0.01,0.009 0.019,0.019 0.026,0.03c1.31,0.927 4.141,1.152 5.364,1.833l0.049,0.03c1.467,-1.975 2.26,-4.37 2.26,-6.83c0,-6.282 -5.169,-11.451 -11.451,-11.451c-6.282,-0 -11.451,5.169 -11.451,11.451c-0,2.46 0.792,4.855 2.26,6.83l0.048,-0.03c1.226,-0.681 4.768,-0.906 6.095,-1.816c0.117,-0.187 0.218,-0.383 0.303,-0.587c0.087,-0.211 0.172,-0.423 0.244,-0.605l-0.009,-0.011Z" style="fill-rule:nonzero;"/>
						</g>
					</svg>
				</a>
			}
		</div>
	</header>

	<main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog" role="main">
		<noscript>
			<p class="container">@Miniblog.Core.Properties.Resources.SomeFeaturesOfThisWebsiteDoNotWorkAsExpectedWhenJavaScriptIsDisabled</p>
		</noscript>
		@RenderBody()
	</main>

	<footer class="sitefooter">
		<div class="container">
			<nav>
				<ul>
					@{
						if (User.Identity.IsAuthenticated)
						{
							<li><a asp-controller="Blog" asp-action="Edit" asp-route-id="">@Miniblog.Core.Properties.Resources.NewPost</a></li>
							<li><a href="~/logout/" title="@Miniblog.Core.Properties.Resources.SignOutAsAdministrator">@Miniblog.Core.Properties.Resources.SignOut</a></li>
						}
						else
						{
							<li><a href="~/login/?returnUrl=@Url.Content("~" + Context.Request.Path)" rel="nofollow" title="@Miniblog.Core.Properties.Resources.SignInAsAdministrator">@Miniblog.Core.Properties.Resources.SignIn</a></li>
						}
					}
				</ul>
			</nav>
			<p>
				@Miniblog.Core.Properties.Resources.PoweredBy <a href="https://github.com/madskristensen/Miniblog.Core" rel="noopener noreferrer" target="_blank">@Miniblog.Core.Properties.Resources.MiniblogCore</a>
			</p>
		</div>
	</footer>

	@* This lazy loads the stylesheet in a non-render blocking way *@
	<link rel="preload" href="~/css/belowthefold.scss" as="style" />
	<noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>

	<script src="~/js/site.js" async defer></script>
	@RenderSection(Constants.Scripts, required: false)
</body>
</html>
